<div class="row background_route">
    <div class="col-sm-12">
        <p class="bodytype_text"><b>Тип кузова</b></p>  
    </div>
</div>
<div class="row bodytype_ract">
    <!-- ko foreach: bodytypes.list-->
        <div style="transition: border-color 0.4s linear;" class="col-sm-3 bodytype_racts" data-bind="click: function(){if($parent.bodytypes.selected() === $index()) $parent.bodytypes.selected(null); else $parent.bodytypes.selected($index());$parent.bodytypes.list[$index()].selected(0);$parent.setSelectedRules()}">
            <p><img  data-bind="attr : {src: 'images/' + img + '.png', style: style}"><!-- ko text:title--><!-- /ko --></p>
            <!--ko if: $parent.bodytypes.selected() === $index()-->
                <span data-bind="html:$parent.svg.BT_check"></span>
            <!--/ko -->
        </div>
    <!-- /ko-->
    <div class="col-sm-6" style="display: inline-flex;padding: 20px 25px; border-radius: 10px; background-color: #FBFBFB;margin-left: 10px;margin-top: 9px;">
        <!--ko if:bodytypes.selected() === null-->
            <div data-bind="click:function(){validate();}" style="position:absolute;width: 100%; height:100%;z-index: 5000;"></div>
        <!--/ko-->
        <table>
          <tbody data-bind="foreach: options">
            <tr>
                <!-- ko if: $index() < $parent.options.length/2-->
                    <!--ko if: enable() -->
                        <td style="padding:5px; cursor: pointer;" data-bind="html: selected() ? $parent.svg.checkinSVG : $parent.svg.checkoutSVG, click:function(){selected(!selected());$parent.validate(true, $index());}"></td>
                    <!-- /ko-->
                    <!--ko ifnot: enable() -->
                        <td style="padding:5px; cursor: not-allowed;" data-bind="html: $parent.svg.disabledSVG"></td>
                    <!-- /ko-->
                    <!--ko if: sublist.length > 0-->
                        <td>
                            <!-- ko component: 'dropdownlist' --><!-- /ko -->   
                        </td>
                    <!--/ko-->
                    <!--ko if: sublist.length === 0-->
                        <td style="padding:10px 5px 5px 5px" data-bind="text: title, style:{'color' : enable() ? '' : '#eaeaea'}"></td>
                    <!-- /ko-->
                <!-- /ko-->
            </tr>  
          </tbody>   
        </table>          
        <table style="margin-left:20px;">
            <tbody data-bind="foreach: options">
                <tr>
                    <!-- ko if: $index() > $parent.options.length/2 -->
                        <!--ko if: enable() -->
                            <td style="padding:5px; cursor: pointer;" data-bind="html: selected() ? $parent.svg.checkinSVG : $parent.svg.checkoutSVG, click:function(){selected(!selected());$parent.validate(true, $index());}"></td>
                        <!-- /ko-->
                        <!--ko ifnot: enable() -->
                            <td style="padding:5px; cursor: not-allowed;" data-bind="html: $parent.svg.disabledSVG"></td>
                        <!-- /ko-->
                        <!--ko if: sublist.length > 0-->
                            <td>
                                <!-- ko component: 'dropdownlist' --><!-- /ko -->   
                            </td>
                        <!--/ko-->
                        <!--ko if: sublist.length === 0-->
                            <td style="padding:10px 5px 5px 5px" data-bind="text: title, style:{'color' : enable() ? '' : '#eaeaea'}"></td>
                        <!-- /ko-->
                    <!-- /ko-->
                </tr>   
            </tbody>  
        </table>    
    </div>
</div>
<div class="row bodytype_ract_second">
    <div class="col-sm-3 " style="padding:0px;">
        <div class="dropdown ">
            <!--ko with:bodytypes-->
                <button data-bind="click:function(){$parent.validate(selected()=== null ? true : false);if(selected()=== null) return; if(list[selected()].sublist.length === 1){return;}focused(true)}, style:{display : focused() ? 'none' : ''}, attr:{id:id}" class="btn btn-default dropdown-toggle bodytype_list" style="outline: none;" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <!--ko if: selected() === null -->
                        Выберете тип кузова
                    <!--/ko-->
                    <!--ko if: selected() !== null -->
                        <!-- ko text:list[selected()].sublist[list[selected()].selected()]--><!--/ko-->
                    <!--/ko-->
                    <!--ko if: selected() !== null && list[selected()].sublist.length > 1-->
                        <span class="glyphicon glyphicon-menu-down" style="color:#FFB700;float:right;" aria-hidden="true"></span>
                    <!--/ko-->
                </button>
            <!--/ko-->
            <!--ko if: bodytypes.selected() !== null && bodytypes.list[bodytypes.selected()].sublist.length > 1-->
                <ul class="dropdown-menu listbodytype"  aria-labelledby="dropdownMenu1" data-bind="foreach:bodytypes.list">
                    <!--ko foreach: sublist-->
                        <!-- ko if: $parents[1].bodytypes.selected() === $parentContext.$index() -->
                            <li><a class="list_elem" href="#" data-bind="style:{'background-color': $parents[1].bodytypes.list[$parentContext.$index()].selected() === $index() ? 'b8b8b8' : ''}, text:$data, click:function(){$parents[1].bodytypes.list[$parentContext.$index()].selected($index()); $parents[1].bodytypes.focused(false); $parents[1].resetOptions(); $parents[1].setSelectedRules($index());}"></a></li>
                        <!--/ko-->
                    <!--/ko-->
                </ul>
            <!--/ko-->
        </div>
    </div>

    <div class="col-sm-3" data-bind="style:{display : servicies.focused() ? 'none' : ''}"></div>
    <div class="col-sm-6" data-bind="style:{display : servicies.focused() ? 'none' : ''}">
            <button data-bind="click:function(){validate(bodytypes.selected()=== null ? true : false); if (bodytypes.selected() !== null) servicies.focused(true)}, attr:{id:servicies.id}"  style="text-align:left;width: 100%;outline: none;" class="btn btn-default dropdown-toggle bodytype_list" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <!--ko text: bodytypes.selected() === null ? 'Выберете тип кузова' : servicies.title--><!--/ko-->
                <!--ko if: bodytypes.selected() !== null-->
                    <span class="glyphicon glyphicon-menu-down" style="color:#FFB700;float:right;" aria-hidden="true"></span>      
                <!--/ko-->
            </button>     
            <p style="font-size: 10px;margin-left: 10px;">
                <!--ko foreach:servicies.list-->    
                    <!--ko if:selected()-->
                        <!--ko text:title --><!--/ko-->
                    <!--/ko-->
                <!--/ko-->
            </p>   
    </div>
    
    <div class="col-sm-2" data-bind="style:{display : servicies.focused() ? '' : 'none'}"></div>
    <div data-bind="style:{display : servicies.focused() ? '' : 'none'}" id="biglist" class="col-sm-7">
        <div class="bodytype_ract_bigoptions">
            <table>
                <tbody data-bind="foreach:servicies.list">
                    <!--ko if: $index() < 4-->
                        <tr>
                            <td style="padding:5px; cursor: pointer;" data-bind="html: selected() ? $parent.svg.checkinSVG : $parent.svg.checkoutSVG, click:function(){selected(!selected());}"></td>
                            <td data-bind="text:title"></td>
                        </tr>
                    <!--/ko-->
                </tbody>
            </table>
            <table>
                <tbody data-bind="foreach:servicies.list">
                    <!--ko if: $index() > 3 && $index() < 7-->
                        <tr>
                            <td style="padding:5px; cursor: pointer;" data-bind="html: selected() ? $parent.svg.checkinSVG : $parent.svg.checkoutSVG, click:function(){selected(!selected());}"></td>
                            <td data-bind="text:title"></td>
                        </tr>
                    <!--/ko-->
                </tbody>
            </table>
            <table>
                <tbody data-bind="foreach:servicies.list">
                    <!--ko if: $index() > 6-->
                        <tr>
                            <td style="padding:5px; cursor: pointer;" data-bind="html: selected() ? $parent.svg.checkinSVG : $parent.svg.checkoutSVG, click:function(){selected(!selected());}"></td>
                            <td data-bind="text:title"></td>
                        </tr>
                    <!--/ko-->
                </tbody>
            </table>
            <span data-bind="click:function(){servicies.focused(false)}" class="glyphicon glyphicon-remove" aria-hidden="true" style="color:#b3b1b1;cursor: pointer;"></span>
        </div>
    </div>
</div>