<div class="row background_route">
    <div class="col-sm-12">
        <p class="bodytype_text"><b>Данные о грузе</b></p>  
    </div>
</div>

<div class="row ro_wi">
    <div class="col-sm-9 jp_wi">
        <div style="padding: 20px 20px 10px 20px;" class="cargo_info">
           
            <p data-bind="text: (title() === '' ? 'Наименование груза' : title() ) + ' (Ценность груза (' + (price() === '' ? '0' : price()) + ' ₽)'" style="font-family: Montserrat; font-style: normal;font-weight: bold; font-size: 16px; line-height: 19px;color: #7B7B7B;"></p>
            <p data-bind="text: 'ОБЩИЙ ВЕС/ОБЪЕМ ГРУЗА' + quantity() + 'кг/' + ''" style="font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 13px;line-height: 16px;color: #000000;" ></p>
            
        </div>
        <div>
            <p style="margin-top: 15px;margin-bottom: 15px;" class="cargo_char">Характеристика груза</p>
        </div>
        <div class="wi_hei">
            <div style="float: left;">
                <div class="char_button" data-bind="click:function(){charactsCargo(0)}, style: {background : charactsCargo() === 0 ? '#FFB700' : 'white'}">
                    <p data-bind="style: {color: charactsCargo() === 0 ? 'white': 'black'}">Машино место</p>
                </div>
            </div>
            <div data-bind="style: {float: charactsCargo() === 0 ? 'left' : 'right'}">            
                <div style="float: right;">
                    <div style="float: left;">
                        <div class="char_input_name_cargo">
                            <input data-bind="textInput:title, style: {'margin-left': charactsCargo() === 0 ? '10px' : '-61px'}, mask: {mask: 'A{1,40}', definitions: {'A':{validator:'[А-Яа-я ]'} }}"  type="text" placeholder="Наименование груза">
                        </div>
                    </div>
                    <div style="float: right;">
                        <div class="char_input_price">
                            <input data-bind="textInput:price, mask: 'decimal'" style="margin-left: 15px;" type="text" placeholder="Ценность">
                        </div>
                    </div>
                </div>
                <!--ko if: charactsCargo() === 1 || charactsCargo() === 2 -->
                <div style="float: left;">
                    <div>
                        <div class="evro_fon">
                            <div style="float: left;"><span style="font-family: Montserrat;font-style: normal;font-weight: normal; font-size: 13px; line-height: 12px;color: #000000;">Евро</span></div>
                            <img style="float: right;" src="images/arrow-point-to-right.png">
                        </div>
                    </div>
                </div>
                <!--/ko-->
            </div>
        </div>
        <div class="na_pal_wi">
            <div class="char_button" data-bind="click:function(){charactsCargo(1)}, style: {background : charactsCargo() === 1 ? '#FFB700' : 'white'}">
                <p data-bind="style: {color: charactsCargo() === 1 ? 'white': 'black'}">На палетах</p>
            </div>
        </div> 
        <div class="ypak_wi">
            <div style="margin-top: 15px; float: left;">
                <div class="char_button" data-bind="click:function(){charactsCargo(2)}, style: {background : charactsCargo() === 2 ? '#FFB700' : 'white'}">
                    <p data-bind="style: {color: charactsCargo() === 2 ? 'white': 'black'}">Упаковки</p>
                </div>
            </div>
            <div class="kol_dl" data-bind="style: {float: charactsCargo() === 0 ? 'left' : 'right'}">
                <div style="float: left;" data-bind="style:{'margin-left': charactsCargo() === 0 ? '20px' : '-15px'}">
                    <!--ko if: charactsCargo() === 1 || charactsCargo() === 2 -->
                    <div style="float: left;" class="char_par_parent">
                        <div class="char_par">
                                <p>Количество</p>
                            <input type="text" placeholder="0">
                        </div>
                    </div>
                    <!--/ko-->
                    <div style="float: right;" class="char_par_parent">
                        <div class="char_par">
                                <p>Длина</p>
                            <input type="text" placeholder="0">
                        </div>
                    </div>
                </div>
                <div style="float: right;">
                    <div class="char_par_parent">
                        <div class="char_par">
                            <p>Вес груза</p>
                            <input type="text" placeholder="0">
                        </div>
                    </div>
                </div>
                <div style="float: right;">
                    <div style="float: left;" class="char_par_parent">
                        <div class="char_par">
                            <p>Ширина</p>
                            <input type="text" placeholder="0">
                        </div>
                    </div>
                    <div style="float: right;" class="char_par_parent">
                        <div class="char_par">
                            <p>Высота</p>
                            <input type="text" placeholder="0">
                        </div>
                    </div>
                </div>                
            </div>
        </div> 
        <div style="margin-top:10px;">
            <input style="width: 170px;" class="fio_buttons2" type="submit" value="Добавить">
        </div> 
    </div>
    <div class="col-sm-3 kvadr_pra">
        <div class="tariff_info">
            <div style="float: left;"><p style="font-family: Montserrat;font-style: normal;font-weight: bold; font-size: 16px; line-height: 19px;text-align: center;text-transform: capitalize;color: #7B7B7B;">КАТЕГОРИЯ 2+ ТЕНТ</p></div>
            <img style="float: right;" src="images/info-button 10.png">
        </div>
        <div class="rectangle_fr">            
        </div>
    </div>
</div>

  


  













