<div class="row">
    <div class="col-sm-12">
        <p class="bodytype_text"><b>Данные о грузе</b></p>  
    </div>
</div>

<div class="row">
    <div class="col-sm-8">
        <div class="cargo_info">
            <!--ko with: types[selectedType()].fields-->
            <p data-bind="text: ($data[0].value() ? $data[0].value() : $data[0].title) + ' (Ценность груза('+ ($data[1].value() ? $data[1].value() : 0) +'Р)'"></p>
            <p data-bind="text: 'ОБЩИ ВЕС / ОБЪЕМ ГРУЗА(' + ($data[5].value() ? $data[5].value() : 0) + ' кг / 5 куб) / Площадь (3м2)' "></p>
            <!--/ko-->
        </div>
    </div>
    <div class="col-sm-4">
        <div class="tariff_info">
            <p>КАТЕГОРИЯ 2+ ТЕНТ</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <p class="cargo_char">Характеристика груза</p>
    </div>
    <div class="col-sm-3">
        <div class="char_button">
            <p>Машино место</p>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="char_input_name_cargo">
            <input type="text" placeholder="Наименование груза">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="char_input_price">
            <input type="text" placeholder="Ценность">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="char_button">
            <p>На палетах</p>
        </div>
    </div>

</div>

<div class="row" style="margin-top: 9px;">
    <div class="col-sm-3">
        <div class="char_button">
            <p>Упаковки</p>
        </div>
    </div>
    <div class="col-sm-1 char_par_parent">
        <div class="char_par">
                <p>Длина</p>
            <input type="text" placeholder="0">
        </div>
    </div>
    <div class="col-sm-1 char_par_parent">
        <div class="char_par">
            <p>Ширина</p>
            <input type="text" placeholder="0">
        </div>
    </div>
    <div class="col-sm-1 char_par_parent">
        <div class="char_par">
            <p>Высота</p>
            <input type="text" placeholder="0">
        </div>
    </div>
    <div class="col-sm-1 char_par_parent">
        <div class="char_par">
            <p>Вес груза</p>
            <input type="text" placeholder="0">
        </div>
    </div>
</div>