<!--ko if: c().bodytypes.selected() === null-->
<div data-bind="click:function(){validate();}, scroll:'.background_route'" style="position: absolute;z-index:3000;width: 100%; height: 100%;"></div>
<!--/ko-->
<div class="map_ya">
    <span data-bind="click:function(){$('.map_ya').css('display','none'); preSelectedaddressFromMap(null);}" class="glyphicon glyphicon-remove close_map" aria-hidden="true"></span>
    <div id="map"></div>
    <p data-bind="text:preSelectedaddressFromMap();" style="color:white;"></p>
    <input data-bind="click:function(){$('.map_ya').css('display','none')}" type="button" id="selectCoords" value="Выбрать">
</div>

    <!-- name blok -->
    <div id="point__block" class="row background_route">
        <div class="col-sm-3">
            <p class="category_text"><b>Маршрут</b></p>         
        </div>
        <div class="col-sm-9 category_time">
                <div data-bind="dateTimePicker:dateOrder, dateTimePickerOptions:{sideBySide: true, locale: 'ru', daysOfWeekDisabled:[0,6], minDate: new Date()}" class='input-group date'>
                <input type='text' class="form-control" style="width: 0px; padding: 0px;border: 0px;" />
                <span class="input-group-addon" style="border: 0px;background: none;width: 100%;">
                    <span>  
                        <img class="line" src="images/line.png"> <img src="images/calendar.png"> 
                        <b class="time_text" data-bind="text:moment(dateOrder()).format('dddd') + ' ' + moment(dateOrder()).format('D') + ' ' + ((moment(dateOrder()).format('MMMM') === 'март' || moment(dateOrder()).format('MMMM') === 'август') ? moment(dateOrder()).format('MMMM') + 'а' : moment(dateOrder()).format('MMMM').slice(0, moment(dateOrder()).format('MMMM').length - 1) + 'я')"></b> <b class="time_text1">в</b> <b class="time_text" data-bind="text:moment(dateOrder()).format('LT')"></b>
                    </span>
                </span>
            </div> 
        </div>
    </div>

    <!-- points blok -->
    <div class="row" data-bind="foreach: points">
    <!--ko if:!removed()-->
        <div data-bind="class: Number.isInteger(($index()+1)/2) ? 'point_info_block2' : 'point_info_block1'" class="col-sm-6 point_info_block">
            <div class="point_rut">
                <div class="stroki">
                        <span style="font-family: Montserrat; font-style: normal; font-weight: bold; font-size: 24px; line-height: 29px; color: #FFB700;margin-right: 30px;" data-bind="text:'Точка ' + ($index()+1)"></span>
                        <div class="qqq">
                            <div class="loading" style="font-family: Montserrat; font-style: normal; font-weight: normal; font-size: 13px; line-height: 16px; color: #000000;">Погрузка, разгрузка.</div>  
                            <img style="cursor:pointer;margin-right: 8px;" data-bind="click:function(){$parent.edit($index())}, scroll:'#point__block'" src="images/pencil.png"> 
                            <img style="cursor:pointer;" data-bind="click:function(){$parent.remove($index())}" src="images/point.png"> 
                        </div>                        
                </div>                
                <div class="stroki">
                    <img  style="margin-right: 10px;" src="images/placeholder 1.png">
                    <span style="font-family: Montserrat; font-style: normal; font-weight: normal; font-size: 14px; line-height: 17px; color: #636363;" data-bind="text: address + ' '+ (commentToAddress !== '' ? ( '(' + commentToAddress + ')' ) : '') "></span>                       
                </div>
                <div class="stroki">
                    <span style="font-family: Montserrat; font-style: normal; font-weight: normal; font-size: 16px; line-height: 20px; color: #636363;padding-left: 5px;" data-bind="text: 'В ' + company + ', ' + fio + ', ' + tel"></span>                       
                </div>
                <div class="stroki">
                    <div class="accept_cargo">
                        <span style="font-family: Montserrat; font-style: normal; font-weight: normal; font-size: 13px; line-height: 22px; color: #6C6C6C;" data-bind="text: toDo"></span>  
                    </div>
                    <!--ko if: file-->
                    <img  style="margin: 10px; margin-left: 70px;" src="images/checked_38.png">        
                    <!--/ko-->            
                </div>
            </div>            
        </div>    
        <!-- /ko-->
    </div>
    
     <!-- point adress -->
    <div data-bind="hide: showPath">
    <div class="row blok_point">
        <div class="col-sm-7 background_point">
            <div class="text_time" data-bind="text:editMode.turned() ? 'Редактирование: Точка ' + (editMode.pointNumber + 1) : ('Точка ' + (removedList().length > 0 ?  (removedList()[0] + 1) : (points().length + 1)))"></div>
            <div class="adress" data-bind="style: {'border-color': address() === '' && !isAllFilled() ?  'red' : '#C5C5C5'}">
                <input id="address_input" data-bind="address:init, value: address" type="text" style="width:400px;" class="hide_input" placeholder="Адрес">
                <div class="text_right">
                    <a id="mapOn" style="cursor: pointer;" data-bind="click: function(){$('.map_ya').css('display','block')}" class="text_map">Выбрать на карте</a>
                    <img src="images/placeholder 1.png">
                </div>
            </div>
            <div>
                <div class="adress pozis_lef">
                    <input data-bind="textInput:commentToAddress" type="text" style="width:100%;height:16px;" class="hide_input" placeholder="Комментарий к адресу">             
                </div>                
                <div class="adress pozis_righ" data-bind="style: {'border-color': company() === '' && !isAllFilled() ?  'red' : '#C5C5C5'}">
                    <input data-bind="textInput:company" type="text" style="width:100%;height:16px;" class="hide_input" placeholder="В какую компанию по адресу">              
                </div>
            </div> 
            <div>
                <div class="adress pozis_lef" data-bind="style: {'border-color': fio() === '' && !isAllFilled() ?  'red' : '#C5C5C5'}">
                    <input type="text" data-bind="mask: 'Aa{1,20} Aa{1,20} Aa{1,20}', textInput: fio" style="width:100%;height:16px;" class="hide_input" placeholder="Контактное лицо (ФИО)">                
                </div>                
                <div class="adress pozis_righ" data-bind="style: {'border-color': tel() === '' && !isAllFilled() ?  'red' : '#C5C5C5'}">
                    <input data-bind="mask: '+7 (999) 999-9999', textInput: tel" type="text" style="width:100%;height:16px;" class="hide_input" placeholder="Номер телефона">                
                </div>
            </div> 
            <div>
                <div class="adress pozis_lef">
                    <input  data-bind="textInput:toDo" type="text" style="width:100%;height:16px;" class="hide_input" placeholder="Что нужно сделать по адресу">                
                </div>                
                <div data-bind="click:function(){$('#file').click();}" class="adress pozis_righ adress_fon" style="cursor: pointer;">
                    <img src="images/doc1.png">
                    <span class="text_point">Прикрепить файл</span>             
                </div>
                <input id="file" name="myFile" type="file" style="display:none;"> 
            </div>                        
        </div> 
        <div class="col-sm-5 background_time">             
            <div class="text_time">Часы работы</div>
            <div>
                <div class="adress pozis_lef tim">
                    <input data-bind="mask:'с 9{1,2}:9{1,2}', dateTimePicker:workTimeFrom, dateTimePickerOptions:{format:'HH:mm'}, value:(('0' + workTimeFrom().getHours()).slice(-2) + ':' + ('0' + workTimeFrom().getMinutes()).slice(-2) )" class="hide_input" style="width:100%;"  type="text" placeholder="с 9.00">              
                </div>                
                <div class="adress pozis_righ tim">
                    <input data-bind="mask:'с 9{1,2}:9{1,2}', dateTimePicker:workTimeTill, dateTimePickerOptions:{format:'HH:mm'}, value:(('0' + workTimeTill().getHours()).slice(-2) + ':' + ('0' + workTimeTill().getMinutes()).slice(-2) )" class="hide_input" style="width:100%;"  type="text" placeholder="с 9.00">              
               
                </div>
            </div>
            <div style="margin-bottom: 30px; margin-top: 90px;">
                <span class="pererv">Перерыв</span>
                <span data-bind="html: isBreak() ? checkinSVG : checkoutSVG, click:function(){isBreak(!isBreak())}" style="cursor: pointer;"></span>
            </div> 
            <div>
                <div data-bind="style: {'background-color' : isBreak() ? '' : '#eaeaea'}" class="adress pozis_lef tim">
                    <input data-bind="mask:'с 9{1,2}:9{1,2}', dateTimePicker:breakTimeFrom, style: {'background-color' : isBreak() ? '' : '#eaeaea'}, enable:isBreak(), dateTimePickerOptions:{format:'HH:mm'}, value:(('0' + breakTimeFrom().getHours()).slice(-2) + ':' + ('0' + breakTimeFrom().getMinutes()).slice(-2) )" class="hide_input" style="width:100%;"  type="text" placeholder="с 9.00">                            
                </div>                
                <div data-bind="style: {'background-color' : isBreak() ? '' : '#eaeaea'}"  class="adress pozis_righ tim">
                    <input data-bind="mask:'с 9{1,2}:9{1,2}', dateTimePicker:breakTimeTill, style: {'background-color' : isBreak() ? '' : '#eaeaea'}, enable:isBreak(), dateTimePickerOptions:{format:'HH:mm'}, value:(('0' + breakTimeTill().getHours()).slice(-2) + ':' + ('0' + breakTimeTill().getMinutes()).slice(-2) )" class="hide_input" style="width:100%;"  type="text" placeholder="до 18.00">                                           
                </div>
            </div>

            <div style="height:140px;" data-bind="style:{display : toDoList.focused() ? 'none' : ''}" >
                <button data-bind="click:function(){toDoList.focused(true)}, attr:{id:toDoList.id}"  style="text-align:left;width: 100%;outline: none;border-color: #c5c5c5;font-size:14px;margin: 30px 0px;" class="btn btn-default dropdown-toggle bodytype_list" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <!--ko text: toDoList.title--><!--/ko-->
                    <span class="glyphicon glyphicon-menu-down" style="color:#FFB700;float:right;" aria-hidden="true"></span>      
                    </button>
            </div>
        </div>
    </div>
    <!-- button point adress -->
    <div data-bind="click: editMode.turned() ? save : addPoint, text:editMode.turned() ? 'Сохранить' : 'Добавить'" class="parallelogram" style="cursor:pointer;font-family: Montserrat; font-style: italic; font-weight: normal; font-size: 14px; line-height: 17px; color: #FFFFFF; padding: 15px 70px;"></div>
    </div>