
    <!-- name blok -->
    <div class="row background_route">
        <div class="col-sm-3">
            <p class="category_text"><b>Маршрут</b></p>         
        </div>
        <div class="col-sm-9 category_time">  
            <img class="line" src="images/line.png"> 
            <img src="images/calendar.png"> 
            <b class="time_text">Сегодня</b> <b class="time_text1">c</b> <b class="time_text">10:54</b> <b class="time_text1">до</b> <b class="time_text">11:54</b>           
        </div>
    </div>

     <!-- points blok -->
    <div class="row">
        <div class="col-sm-6 point_info_block1 point_info_block">
            <div class="point_rut">
                <div class="stroki">
                        <span style="font-family: Montserrat; font-style: normal; font-weight: bold; font-size: 24px; line-height: 29px; color: #FFB700;margin-right: 30px;">Точка 1</span>
                        <div class="qqq">
                            <div class="loading" style="font-family: Montserrat; font-style: normal; font-weight: normal; font-size: 13px; line-height: 16px; color: #000000;">Погрузка, разгрузка.</div>  
                            <img  src="images/point.png"> 
                        </div>                        
                </div>                
                <div class="stroki">
                    <img  style="margin-right: 10px;" src="images/placeholder 1.png">
                    <span style="font-family: Montserrat; font-style: normal; font-weight: normal; font-size: 14px; line-height: 17px; color: #636363;">г. Москва ул. Пушкинская оф. 2 (в арочку)</span>                       
                </div>
                <div class="stroki">
                    <span style="font-family: Montserrat; font-style: normal; font-weight: normal; font-size: 16px; line-height: 20px; color: #636363;padding-left: 5px;">В ООО "Salus" Васька + 7 934 43 59 435</span>                       
                </div>
                <div class="stroki">
                    <div class="accept_cargo">
                        <span style="font-family: Montserrat; font-style: normal; font-weight: normal; font-size: 13px; line-height: 22px; color: #6C6C6C; ">Принять груз для того то от такой то компании сказать что по счету такому то</span>  
                    </div>
                    <img  style="margin: 10px; margin-left: 70px;" src="images/checked_38.png">                    
                </div>
            </div>            
        </div> 
        <div class="col-sm-6 point_info_block2 point_info_block">  
            <div class="point_rut">
                <div class="stroki">
                    <span style="font-family: Montserrat; font-style: normal; font-weight: bold; font-size: 24px; line-height: 29px; color: #FFB700;margin-right: 30px;">Точка 2</span>
                    <div class="qqq">
                        <div class="loading" style="font-family: Montserrat; font-style: normal; font-weight: normal; font-size: 13px; line-height: 16px; color: #000000;">Погрузка, разгрузка.</div>  
                        <img  src="images/point.png"> 
                    </div>                        
            </div>                
            <div class="stroki">
                <img  style="margin-right: 10px;" src="images/placeholder 1.png">
                <span style="font-family: Montserrat; font-style: normal; font-weight: normal; font-size: 14px; line-height: 17px; color: #636363;">г. Москва ул. Пушкинская оф. 2 (в арочку)</span>                       
            </div>
            <div class="stroki">
                <span style="font-family: Montserrat; font-style: normal; font-weight: normal; font-size: 16px; line-height: 20px; color: #636363;padding-left: 5px;">В ООО "Salus" Васька + 7 934 43 59 435</span>                       
            </div>
            <div class="stroki">
                <div class="accept_cargo">
                    <span style="font-family: Montserrat; font-style: normal; font-weight: normal; font-size: 13px; line-height: 22px; color: #6C6C6C; ">Принять груз для того то от такой то компании сказать что по счету такому то</span>  
                </div>
                <img  style="margin: 10px; margin-left: 70px;" src="images/checked_38.png">                    
            </div>
            </div>
        </div>
    </div>
    
     <!-- button points blok -->
    <div class="parallelogram" style="font-family: Montserrat; font-style: italic; font-weight: normal; font-size: 14px; line-height: 17px; color: #FFFFFF; padding: 15px 50px;">Добавить адрес</div>
    
     <!-- point adress -->
    <div class="row blok_point">
        <div class="col-sm-7 background_point">
            <div class="text_time">Точка 1</div>
            <div class="adress">
                <span class="text_point">Адрес</span>
                <div class="text_right">
                    <span class="text_map">Выбрать на карте</span>
                    <img src="images/placeholder 1.png">
                </div>
            </div>
            <div>
                <div class="adress pozis_lef">
                    <span class="text_point">Комментарий к адресу</span>                
                </div>                
                <div class="adress pozis_righ">
                    <span class="text_point">В какую компанию по адресу</span>                
                </div>
            </div> 
            <div>
                <div class="adress pozis_lef">
                    <span class="text_point">Контактное лицо (ФИО)</span>                
                </div>                
                <div class="adress pozis_righ">
                    <input type="text">                
                </div>
            </div> 
            <div>
                <div class="adress pozis_lef">
                    <span class="text_point">Что нужно сделать по адресу</span>                
                </div>                
                <div class="adress pozis_righ adress_fon">
                    <img src="images/doc1.png">
                    <span class="text_point">Прикрепить файл</span>                
                </div>
            </div>                        
        </div> 
        <div class="col-sm-5 background_time">             
            <div class="text_time">Часы работы</div>
            <div>
                <div class="adress pozis_lef tim">
                    <span class="text_point">с 9.00</span>                
                </div>                
                <div class="adress pozis_righ tim">
                    <span class="text_point">до 18.00</span>                
                </div>
            </div>
            <div style="margin-bottom: 30px; margin-top: 90px;">
                <span class="pererv">Перерыв</span>
                <img src="images/Rectangle.png">
                <span class="noy">Нет</span>
            </div> 
            <div>
                <div class="adress pozis_lef tim">
                    <span class="text_point">с 9.00</span>                
                </div>                
                <div class="adress pozis_righ tim">
                    <span class="text_point">до 18.00</span>                
                </div>
            </div>
            <div style="background: #FFFFFF;border: 1px solid #C5C5C5;box-sizing: border-box;border-radius: 10px;margin-top: 139px;padding: 20px;margin-bottom: 12px;">
                <span class="text_point">Погр, Получ.....</span>
                <div class="text_right">                    
                    <img src="images/arrow-point-to-right (1) 7.png">
                </div>
            </div>
        </div>
    </div>


    <!-- button point adress -->
    <div class="parallelogram" style="font-family: Montserrat; font-style: italic; font-weight: normal; font-size: 14px; line-height: 17px; color: #FFFFFF; padding: 15px 70px;">Добавить</div>
    
