<div class="map_ya">
    <span data-bind="click:function(){$('.map_ya').css('display','none'), preSelectedaddressFromMap(null)}" class="glyphicon glyphicon-remove close_map" aria-hidden="true"></span>
    <div id="map"></div>
    <p data-bind="text:preSelectedaddressFromMap();" style="color:white;"></p>
    <input data-bind="click:function(){address(preSelectedaddressFromMap());$('.map_ya').css('display','none')}" type="button" name="selectCoords" value="Выбрать">
</div>

    <!-- name blok -->
    <div class="row background_route">
        <div class="col-sm-3">
            <p class="category_text"><b>Маршрут</b></p>         
        </div>
        <div class="col-sm-9 category_time">  
            <img class="line" src="images/line.png"> 
            <img src="images/calendar.png"> 
            <b class="time_text">Сегодня</b> <b class="time_text1">c</b> <b class="time_text">10:54</b> <b class="time_text1">до</b> <b class="time_text">11:54</b>           
        </div>
    </div>

     <!-- points blok -->
    <div class="row">
        <div class="col-sm-6 point_info_block1 point_info_block">
            <div class="point_rut">
                <div class="stroki">
                        <span style="font-family: Montserrat; font-style: normal; font-weight: bold; font-size: 24px; line-height: 29px; color: #FFB700;margin-right: 30px;">Точка 1</span>
                        <div class="qqq">
                            <div class="loading" style="font-family: Montserrat; font-style: normal; font-weight: normal; font-size: 13px; line-height: 16px; color: #000000;">Погрузка, разгрузка.</div>  
                            <img  src="images/point.png"> 
                        </div>                        
                </div>                
                <div class="stroki">
                    <img  style="margin-right: 10px;" src="images/placeholder 1.png">
                    <span style="font-family: Montserrat; font-style: normal; font-weight: normal; font-size: 14px; line-height: 17px; color: #636363;">г. Москва ул. Пушкинская оф. 2 (в арочку)</span>                       
                </div>
                <div class="stroki">
                    <span style="font-family: Montserrat; font-style: normal; font-weight: normal; font-size: 16px; line-height: 20px; color: #636363;padding-left: 5px;">В ООО "Salus" Васька + 7 934 43 59 435</span>                       
                </div>
                <div class="stroki">
                    <div class="accept_cargo">
                        <span style="font-family: Montserrat; font-style: normal; font-weight: normal; font-size: 13px; line-height: 22px; color: #6C6C6C; ">Принять груз для того то от такой то компании сказать что по счету такому то</span>  
                    </div>
                    <img  style="margin: 10px; margin-left: 70px;" src="images/checked_38.png">                    
                </div>
            </div>            
        </div> 
        <div class="col-sm-6 point_info_block2 point_info_block">  
            <div class="point_rut">
                <div class="stroki">
                    <span style="font-family: Montserrat; font-style: normal; font-weight: bold; font-size: 24px; line-height: 29px; color: #FFB700;margin-right: 30px;">Точка 1</span>
                    <div class="qqq">
                        <div class="loading" style="font-family: Montserrat; font-style: normal; font-weight: normal; font-size: 13px; line-height: 16px; color: #000000;">Погрузка, разгрузка.</div>  
                        <img  src="images/point.png"> 
                    </div>                        
            </div>                
            <div class="stroki">
                <img  style="margin-right: 10px;" src="images/placeholder 1.png">
                <span style="font-family: Montserrat; font-style: normal; font-weight: normal; font-size: 14px; line-height: 17px; color: #636363;">г. Москва ул. Пушкинская оф. 2 (в арочку)</span>                       
            </div>
            <div class="stroki">
                <span style="font-family: Montserrat; font-style: normal; font-weight: normal; font-size: 16px; line-height: 20px; color: #636363;padding-left: 5px;">В ООО "Salus" Васька + 7 934 43 59 435</span>                       
            </div>
            <div class="stroki">
                <div class="accept_cargo">
                    <span style="font-family: Montserrat; font-style: normal; font-weight: normal; font-size: 13px; line-height: 22px; color: #6C6C6C; ">Принять груз для того то от такой то компании сказать что по счету такому то</span>  
                </div>
                <img  style="margin: 10px; margin-left: 70px;" src="images/checked_38.png">                    
            </div>
            </div>
        </div>
    </div>
    
     <!-- button points blok -->
    <div class="parallelogram" style="font-family: Montserrat; font-style: italic; font-weight: normal; font-size: 14px; line-height: 17px; color: #FFFFFF; padding: 15px 50px;">Добавить адрес</div>
    
     <!-- point adress -->
    <div class="row blok_point">
        <div class="col-sm-7 background_point">
            <div class="text_time">Точка 1</div>
            <div class="adress">
                <input data-bind="address:init, value:address" type="text" style="width:400px;" class="hide_input" placeholder="Адрес">
                <div class="text_right">
                    <a  style="cursor: pointer;" data-bind="click: function(){$('.map_ya').css('display','block')}" class="text_map">Выбрать на карте</a>
                    <img src="images/placeholder 1.png">
                </div>
            </div>
            <div>
                <div class="adress pozis_lef">
                    <input data-bind="value:commentToAddress" type="text" style="width:100%;height:16px;" class="hide_input" placeholder="Комментарий к адресу">             
                </div>                
                <div class="adress pozis_righ">
                    <input type="text" style="width:100%;height:16px;" class="hide_input" placeholder="В какую компанию по адресу">              
                </div>
            </div> 
            <div>
                <div class="adress pozis_lef">
                    <input type="text" data-bind="mask: 'Aa{1,20} Aa{1,20} Aa{1,20}'" style="width:100%;height:16px;" class="hide_input" placeholder="Контактное лицо (ФИО)">                
                </div>                
                <div class="adress pozis_righ">
                    <input data-bind="mask: '+7 (999) 999-9999'" type="text" style="width:100%;height:16px;" class="hide_input" placeholder="Номер телефона">                
                </div>
            </div> 
            <div>
                <div class="adress pozis_lef">
                    <input  type="text" style="width:100%;height:16px;" class="hide_input" placeholder="Что нужно сделать по адресу">                
                </div>                
                <div class="adress pozis_righ adress_fon">
                    <img src="images/doc1.png">
                    <span class="text_point">Прикрепить файл</span>                
                </div>
            </div>                        
        </div> 
        <div class="col-sm-5 background_time">             
            <div class="text_time">Часы работы</div>
            <div>
                <div class="adress pozis_lef tim">
                    <input data-bind="mask:'с 9{1,2}:9{1,2}', dateTimePicker:workTimeFrom, dateTimePickerOptions:{format:'HH:mm'}, value:(('0' + workTimeFrom().getHours()).slice(-2) + ':' + ('0' + workTimeFrom().getMinutes()).slice(-2) )" class="hide_input" style="width:100%;"  type="text" placeholder="с 9.00">              
                </div>                
                <div class="adress pozis_righ tim">
                    <input data-bind="mask:'с 9{1,2}:9{1,2}', dateTimePicker:workTimeTill, dateTimePickerOptions:{format:'HH:mm'}, value:(('0' + workTimeTill().getHours()).slice(-2) + ':' + ('0' + workTimeTill().getMinutes()).slice(-2) )" class="hide_input" style="width:100%;"  type="text" placeholder="с 9.00">              
               
                </div>
            </div>
            <div style="margin-bottom: 30px; margin-top: 90px;">
                <span class="pererv">Перерыв</span>
                <span data-bind="html: isBreak() ? checkinSVG : checkoutSVG, click:function(){isBreak(!isBreak())}" style="cursor: pointer;"></span>
                <span class="noy" style="cursor: pointer;" data-bind="click:function(){isBreak(!isBreak())}, text: isBreak() ? 'Нет' : 'Да'">Нет</span>
            </div> 
            <div>
                <div class="adress pozis_lef tim">
                    <input data-bind="mask:'с 9{1,2}:9{1,2}', dateTimePicker:breakTimeFrom, dateTimePickerOptions:{format:'HH:mm'}, value:(('0' + breakTimeFrom().getHours()).slice(-2) + ':' + ('0' + breakTimeFrom().getMinutes()).slice(-2) )" class="hide_input" style="width:100%;"  type="text" placeholder="с 9.00">                            
                </div>                
                <div class="adress pozis_righ tim">
                    <span class="text_point">до 18.00</span>                
                </div>
            </div>
            <div style="background: #FFFFFF;border: 1px solid #C5C5C5;box-sizing: border-box;border-radius: 10px;margin-top: 130px;padding: 20px;margin-bottom: 12px;">
                <span class="text_point">Погр, Получ.....</span>
                <div class="text_right">                    
                    <img src="images/arrow-point-to-right (1) 7.png">
                </div>
            </div>
        </div>
    </div>


    <!-- button point adress -->
    <div class="parallelogram" style="font-family: Montserrat; font-style: italic; font-weight: normal; font-size: 14px; line-height: 17px; color: #FFFFFF; padding: 15px 70px;">Добавить</div>
    
