<!--name rates -->
<div class="row background_route">
    <div class="col-sm-3">
        <p class="category_text"><b>Выбор тарифа и детализация</b></p>         
    </div>    
</div>

<!-- pricing block -->
<div class="row block_up">
    <div data-bind="click: function(){rate(0);}" style="width: 390px; height: 116px;cursor: pointer;" class="col-sm-4"> 
        <div  data-bind="attr: {'class': rate() === 0 ? 'background_pricing_orange' : 'background_pricing_white'}">
            <p  data-bind="attr: {'class': rate() === 0 ? 'name_blok_rates' : 'name_rates_black'}">Часовая аренда  - 3000 р</p>
            <span data-bind="attr: {'class': rate() === 0 ? 'text_rates' : 'text_black'}">минимум <b>3000 р</b> (437р - час  4 часа работы + час подачи + + )</span>
        </div>
    </div> 
    <div data-bind="click:function(){rate(1);}" style="width: 390px;height: 116px;cursor: pointer;" class="col-sm-4 transfer_blok2">
        <div data-bind="attr: {'class': rate() === 1 ? 'background_pricing_orange' : 'background_pricing_white'}">                        
            <div style="width: 145px;float: left;">   
                <p data-bind="attr: {'class': rate() === 1 ? 'name_blok_rates' : 'name_rates_black'}">Ставка  - 3000 р</p>
                <span data-bind="attr: {'class': rate() === 1 ? 'text_rates' : 'text_black'}">ставка <b>2800 р</b> (условия)</span>
            </div>
            <div>                   
                <img style="height: 70px;" src="images/Line 11.png">                      
                <span style="padding-left:15px;" data-bind="attr: {'class': rate() === 1 ? 'text_rates' : 'text_black'}">Cтавка ПМ 2800 р</span>                            
                <img  data-bind="click:function(){pm(!pm())}, attr: {src: pm() ? 'images/Rectangle.png' : 'images/Rectangle 47.png'}" style="padding-left:5px;">
            </div>              
        </div>
    </div>
    <div data-bind="click:function(){rate(2);}" style="width: 390px;height: 116px;cursor: pointer;" class="col-sm-4 transfer_blok">  
        <div data-bind="attr: {'class': rate() === 2 ? 'background_pricing_orange' : 'background_pricing_white'}">            
                <p data-bind="attr: {'class': rate() === 2 ? 'name_blok_rates' : 'name_rates_black'}">Доставка  - 3000 р</p>
                <span data-bind="attr: {'class': rate() === 2 ? 'text_rates' : 'text_black'}">доставка 2000 р (условия) (для тарифа доставка нужно внести данные по грузу)</span>            
        </div>
    </div>
</div>

<!-- text -->
<div  class="row">
    <div class="col-sm-12 tex_up">
        <!--<img src="images/info-button 10.png">-->
        <span class="slyb_text">Служебная информация</span>
    </div> 
    <div class="col-sm-12">
        <span class="sluj_inf">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</span>    
    </div>
</div>

<!-- prices -->
<div class="row">
    <div style="width: 585px;padding-top: 35px;" class="col-sm-6">
        <p style="padding-bottom: 10px;padding-top: 10px;" class="name_tarif">Тариф часовой</p>
        <div class="fon_tarif">
            <span class="text_tarif">Тариф часовой</span>
            <div class="text_right">                    
                <span class="text_tarif">4+1 стоим., часа <b>100 р.с.ндс</b></span>
            </div>
        </div> 
        <div class="fon_tarif_white">
            <span class="text_tarif">Мин., время</span>
            <div class="text_right">                    
                <span class="text_tarif">5часов | стоимость <b>500 р.с.ндс</b></span>
            </div>
        </div> 
        <div class="fon_tarif">
            <span class="text_tarif">Планируемое время</span>
            <div class="text_right">                    
                <span class="text_tarif">7ч.30м | стоимость <b>3750 р.с.ндс</b></span>
            </div>
        </div> 
        <div class="fon_tarif_white">
            <span class="text_tarif">Грузчик 1</span>
            <div class="text_right">                    
                <span class="text_tarif">4+1 стоим., часа <b>35 р</b></span>
            </div>
        </div>

        <p style="padding-bottom: 10px;padding-top: 30px;" class="name_tarif">Дополнительные услуги</p>
        <div class="fon_tarif">
            <div style="float: left;">
                <span class="text_tarif">Растент вверх</span>
                <div class="text_right">                    
                    <span style="padding-left: 70px;" class="text_tarif"><b>100р</b></span>
                </div>
            </div>   
            <div class="text_right">
                <span class="text_tarif">ППР</span>
                <div class="text_right">                    
                    <span style="padding-left: 70px;" class="text_tarif"><b>100</b></span>
                </div>
            </div>
        </div> 
        <div class="fon_tarif_white">
            <div style="float: left;">
                <span class="text_tarif">г.б.</span>
                <div class="text_right">                    
                    <span style="padding-left: 146px;" class="text_tarif"><b>100</b></span>
                </div>
            </div>   
            <div class="text_right">
                <span class="text_tarif">вод. грузчик</span>
                <div class="text_right">                    
                    <span style="padding-left: 70px;" class="text_tarif"><b>100р</b></span>
                </div>
            </div>
        </div>       
        <div class="fon_tarif">
            <div style="float: left;">
                <span class="text_tarif">медкнижка</span>
                <div class="text_right">                    
                    <span style="padding-left: 88px;" class="text_tarif"><b>100</b></span>
                </div>
            </div>   
            <div class="text_right">
                <span class="text_tarif">экс.</span>
                <div class="text_right">                    
                    <span style="padding-left: 70px;" class="text_tarif"><b>100р</b></span>
                </div>
            </div>
        </div>
        
        <p style="padding-bottom: 10px;padding-top: 30px;" class="name_tarif">По маршруту</p>
        <div class="fon_tarif">
            <span class="text_tarif">Пропуск ттк</span>
            <div class="text_right">                    
                <span class="text_tarif"><b>100р</b></span>
            </div>
        </div> 
        <div class="fon_tarif_white">
            <span class="text_tarif">Пробег ТС свыше 100км</span>
            <div class="text_right">                    
                <span class="text_tarif"><b>400р</b></span>
            </div>
        </div> 
        <div class="fon_tarif">
            <span class="text_tarif">пробег за мкад</span>
            <div class="text_right">                    
                <span class="text_tarif"><b>200р</b></span>
            </div>
        </div> 
    </div>
    <div class="col-sm-6">
        <div style="width: 528px; padding-top: 40px;" id="map_second"></div>     
    </div>     
</div>

<!-- payment method -->

<!--name rates -->
<div class="row fon_pay">
    <div class="col-sm-4 srf_op">
        <img style="cursor: pointer;" data-bind="click:function(){paymentType(0)}, attr:{src: paymentType() === 0 ? 'images/Rectangle.png' : 'images/Rectangle 47.png'}">
        <span class="text_pay">Онлайн оплата</span>
      <!--  <img  src="images/info-button 10.png"> -->        
    </div> 
    <div class="col-sm-4 text_al_c srf_op">
        <img style="cursor: pointer;" data-bind="click:function(){paymentType(1)}, attr:{src: paymentType() === 1 ? 'images/Rectangle.png' : 'images/Rectangle 47.png'}">
        <span class="text_pay">Наличными исполнителю</span> 
       <!-- <img src="images/info-button 10.png">     -->       
    </div>
    <div class="col-sm-4 text_al_r srf_op">
        <img style="cursor: pointer;" data-bind="click:function(){paymentType(2)}, attr:{src: paymentType() === 2 ? 'images/Rectangle.png' : 'images/Rectangle 47.png'}" src="images/Rectangle 47.png">
        <span class="text_pay">Оплата по счету</span>  
        <!--<img src="images/info-button 10.png">      -->     
    </div>   
</div>